* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {

    height: 35rem;
    width: 26%;
    margin: 50px auto;
    border: 1px solid rgb(207, 206, 206);
}

.card {
    position: relative;
    top: 10%;
    left: 10%;
    border: 1px solid red;
    height: 65%;
    width: 80%;
    box-shadow: 4px 4px 4px grey;
    border-radius: 8px;
}

.container h1{
    position: relative;
    top: 5%;
    left: 15%;
    font-size: 40px;
}

.trip-task{
    height: 50px;
    width: 80%;
    position: relative;
    top: 10%;
    left: 20%;

    
}

#trip{
text-align: center;
font-size: 30px;
border-bottom: 1px solid black;
color: red;
text-shadow: 3px 3px 3px grey;

}

#task{

    position: relative;
    top: 20%;
    left: 30%;
    font-weight: bold;
    color: red;
    text-decoration: line-through;
}

#lbl{

    position: relative;
    font-size: 20px;
    top: 30%;
    left: 25%;
}

